/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */




/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container  

#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('../img/background.png');
  z-index: 100;
  background-size: cover;
  
  background-repeat: no-repeat;
	position: relative;
}
---- */


.particles-js-canvas-el{
  z-index: -1;
  position:relative;
  top:-95vh;
}