.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node circle {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  r: 8;
}

.node text {
  display: inline;
  font: 12px sans-serif;
  text-shadow: 0 1px 0 white,
    1px 0 0 white,
    0 -1px 0 white,
    -1px 0 0 white;
}

.node:hover circle {
  r: 12;
}

.node:hover text {
  display: inline;
  font: 12px sans-serif;
  text-shadow: 0 1px 0 white,
    1px 0 0 white,
    0 -1px 0 white,
    -1px 0 0 white;
}

.cell {
  fill: none;
  pointer-events: all;
}

.ticks {
  font: 12px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
  margin-top:50px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
  
}

.handle {
  fill: rgba(103, 128, 159, 1);
  stroke: #000;
  stroke-opacity: 1;
  stroke-width: 1px;
}

.label {
  font: 16px sans-serif;
  pointer-events: none;
  fill: white;
}

#play-button {
  font: 16px sans-serif;
  position: relative;
  margin-top:15px;
  margin-bottom:30px;
  padding: 10px 8px 0px 8px;
  top: 45px;
  left: 70px;
  width: 60px;
  height: 35px;
  background: rgba(103, 128, 159, 1);
  border-radius: 3px;
  border: none;
  color: white;
  margin: 2;
  cursor: pointer;
  float: left;
  text-align: center;
}

#play-button:hover {
  background-color: #696969;
}

#bar {
  float: center;
}

#_border {
  outline: solid black;
  outline-offset: 0px;
  margin-left: 0px;
  padding-right: -40px;
}
